<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>

    <!-- === Remix Icons ===  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
      crossorigin=""
    />

    <!-- === Swiper CSS === -->
    <link rel="stylesheet" href="./assets/css/swiper-bundle-min.css" />

    <!-- === CSS === -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <style>
      .client__ratings {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }

      .client__ratings span {
        color: goldenrod;
      }
    </style>
  </head>
  <body>
    <!-- Container -->
    <section class="container">
      <div class="card-container swiper">
        <div class="card-content">
          <div class="swiper-wrapper">
            <!-- Article -->
            <article class="card-article swiper-slide">
              <div class="card-image">
                <img
                  src="./assets/img/avatar-1.png"
                  alt="image"
                  class="card-img"
                />
                <div class="card-shadow"></div>
              </div>
              <div class="card-data">
                <div class="client__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <h3 class="card-name">Dion Rocks</h3>
                <p class="card-description">
                  Thanks to this platform, I landed my dream job in no time!
                  🌟🚀 #Grateful
                </p>

                <a href="#" class="card-button">View More</a>
              </div>
            </article>

            <!-- Article -->
            <article class="card-article swiper-slide">
              <div class="card-image">
                <img
                  src="./assets/img/avatar-2.png"
                  alt="image"
                  class="card-img"
                />
                <div class="card-shadow"></div>
              </div>

              <div class="card-data">
                <div class="client__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <h3 class="card-name">Lotw Fox</h3>
                <p class="card-description">
                  Job hunting made easy—found my spot, couldn’t be happier! 💼👌
                  #CareerGoals
                </p>

                <a href="#" class="card-button">View More</a>
              </div>
            </article>

            <!-- Article -->
            <article class="card-article swiper-slide">
              <div class="card-image">
                <img
                  src="./assets/img/avatar-3.png"
                  alt="image"
                  class="card-img"
                />
                <div class="card-shadow"></div>
              </div>

              <div class="card-data">
                <div class="client__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <h3 class="card-name">Lotw Fox</h3>

                <p class="card-description">
                  Swipe right on success! Got hired faster than I could believe!
                  😎🔥 #NewBeginnings
                </p>

                <a href="#" class="card-button">View More</a>
              </div>
            </article>

            <!-- Article -->
            <article class="card-article swiper-slide">
              <div class="card-image">
                <img
                  src="./assets/img/avatar-4.png"
                  alt="image"
                  class="card-img"
                />
                <div class="card-shadow"></div>
              </div>

              <div class="card-data">
                <div class="client__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <h3 class="card-name">Lotw Fox</h3>
                <p class="card-description">
                  From scrolling to signing the offer—this platform made it
                  happen! 💪✨ #NextChapter
                </p>

                <a href="#" class="card-button">View More</a>
              </div>
            </article>

            <!-- Article -->
            <article class="card-article swiper-slide">
              <div class="card-image">
                <img
                  src="./assets/img/avatar-5.png"
                  alt="image"
                  class="card-img"
                />
                <div class="card-shadow"></div>
              </div>

              <div class="card-data">
                <div class="client__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <h3 class="card-name">Lotw Fox</h3>
                <p class="card-description">
                  Thanks to this gem, I’m now doing what I love every day! 🙌💼
                  #BestDecision
                </p>

                <a href="#" class="card-button">View More</a>
              </div>
            </article>
          </div>
        </div>

        <!-- Navigation Buttons -->
        <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line"></i>
        </div>

        <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line"></i>
        </div>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- === Swiper JS === -->
    <script src="./assets/js/swiper-bundle-min.js"></script>

    <!-- === Script === -->
    <script src="./assets/js/script.js"></script>
  </body>
</html>
