<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="jendo-working-process">
        <span class="how-jobpilot-work">How RECRUTINI works ?</span>
        <div class="process">
          <div class="create-account">
            <div class="icon-2f1"><div class="user-plus-duotone"></div></div>
            <div class="info-2f2">
              <span class="create-account-2f3">Create account</span
              ><span class="aliquam-facilisis-egestas"
                >Join RECRUTINI and kickstart your career journey! 🚀✨</span
              >
            </div>
          </div>
          <div class="cv-resume">
            <div class="icon-2f4">
              <div class="cloud-arrow-up-duotone"></div>
            </div>
            <div class="info-2f5">
              <span class="upload-cv-resume">Upload CV/Resume</span
              ><span class="curabitur-sit-amet"
                >Showcase your skills by uploading your CV – let your profile
                shine! 🌟📄</span
              >
            </div>
          </div>
          <div class="find-suitable-job">
            <div class="icon-2f6">
              <div class="magnifying-glass-plus-duotone"></div>
            </div>
            <div class="info-2f7">
              <span class="find-suitable-job-2f8">Find suitable job</span
              ><span class="phasellus-quis-eleifend"
                >Explore roles that fit your ambitions and take a step closer to
                your dream job! 🔍💼</span
              >
            </div>
          </div>
          <div class="apply-then">
            <div class="icon-2f9">
              <div class="circle-wavy-check-duotone"></div>
            </div>
            <div class="info-2fa">
              <span class="apply-job">Apply job</span
              ><span class="curabitur-sit-amet-2fb"
                >Hit apply, make your mark, and get ready for new opportunities!
                💥🙌</span
              >
            </div>
          </div>
          <div class="arrows"></div>
          <div class="arrows-2fc"></div>
          <div class="arrows-2fd"></div>
        </div>
      </div>
    </div>
  </body>
</html>
